:root {
    --main-bg: #1A577A;
    --second-bg: #0C2A3B;
    --blue: #2784B9;
    --light-blue: #21BFD1;
    --white: #fff;
    --black: #000;
    --orange: #FF5C00;
    --red: #E00C0C;
    --black-red: #660606;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* HEADER */

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.menu {
    background-color: var(--main-bg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    height: 12vh;
    margin-bottom: 20px;
}

.logo img {
    width: 250px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.nav-list a {
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
}

.nav-list a:hover {
    color: var(--light-blue);
}

#btn-sair {
    color: var(--white);
    background-color: var(--red);
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
    transform: all 0.3s ease-in-out;
}

#btn-sair:hover {
    color: var(--white);
    background-color: var(--black-red);
}

#btn-perfil {
    color: var(--white);
    background-color: var(--light-blue);
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
    transform: all 0.3s ease-in-out;
}

#btn-perfil:hover {
    color: var(--light-blue);
    background-color: var(--white);
}


/* HEADER */

.cliente {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 30px;
}


/* SISTEMA */

.sistema {
    font-family: sans-serif;
    display: flex;
    justify-content: space-around;
    width: 940px;
    margin: 0 auto;
    color: var(--white);
    align-items: center;
    margin-bottom: 20px;
}

.sistema-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--main-bg);
    border-radius: 10px;
    width: 450px;
    padding: 10px;
}

.sistema-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--light-blue);
    border-radius: 10px;
    width: 400px;
    height: 420px;
    padding: 10px;
}

.sistema-container h2 {
    color: var(--white);
    font-size: 30px;
    margin-bottom: 20px;
}

.sistema-container a {
    text-decoration: none;
    text-align: center;
    background: var(--light-blue);
    color: var(--white);
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    width: 80%;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}

.sistema-container a:hover {
    background: var(--white);
    color: var(--light-blue);
}


/* SISTEMA */


/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    background: var(--main-bg);
    width: 100%;
    height: 40px;
}

.copyright {
    padding: 10px;
    text-align: center;
    color: var(--white);
}


/* FOOTER */